<h1>Create a New Figure</h1>

<form action="/figures" method="POST">

  <label>Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name">

  <!-- *************************** -->
  <!-- CREATE OR SELECT TITLE HERE -->
  <!-- *************************** -->
  <br>
  <p>----------------------------------------------------------</p>
  <p>Select an existing Title or create a new one below.</p>

  <h3>Existing Titles</h3>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="<%= 'title_' + title.id.to_s %>" value="<%= title.id %>"><%= title.name %></input><br>

  <% end %>
  <br>

  <h3>New Title</h3>
  <label>Title Name: </label>
  <input type="text" name="title[name]" id="new_title"></input>
  <br><br>

  <!-- ****************************** -->
  <!-- CREATE OR SELECT LANDMARK HERE -->
  <!-- ****************************** -->

  <br>
  <p>----------------------------------------------------------</p>
  <p>Select an existing Landmark or create a new one below.</p>

  <h3>Existing Landmarks</h3>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%= 'landmark_' + landmark.id.to_s %>" value="<%= landmark.id %>"><%= landmark.name %></input><br>
  <% end %>
  <br>

  <h3>New Landmark</h3>
  <label>Landmark Name: </label>
  <input type="text" name="landmark[name]" id="new_landmark"></input>
  <br><br>


  <input type="submit" value="Create New Figure">
</form>
